<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AsyncReplicaOperations.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <AsyncReplicaOperations.Properties.Settings>
            <setting name="ConfigServer" serializeAs="String">
                <value>R00EASCL12DBC01\R00EASCL12DBC01</value>
            </setting>
            <setting name="ConfigDatabase" serializeAs="String">
                <value>EAS_AX_AUP</value>
            </setting>
        </AsyncReplicaOperations.Properties.Settings>
    </applicationSettings>
</configuration>